tensorflow==2.16.1
tensorflow-metal; sys_platform == "darwin"
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
tqdm==4.66.5
requests==2.32.3
pyarrow==17.0.0
matplotlib==3.9.2
pytest==8.3.3
onnx>=1.14.0

